extends layout

block content
  h1= title
  p Welcome to #{title}
  //img(src=imgSource)
  div
  table
    thead
      tr: th Posts
    tbody
      each post, i in data
        tr
          td
            img(src=post.images.standard_resolution.url)

